# @BotFather dan olingan tokenni shu yerga yozing
BOT_TOKEN=PASTE_YOUR_TOKEN_HERE

# Sizning Telegram user ID (botda /admin buyruqi uchun)
ADMIN_ID=123456789

# Saytga kirish tugmasining manzili (web app qayerda ishlasa)
# PythonAnywhere'da: https://USERNAME.pythonanywhere.com
WEB_URL=http://127.0.0.1:5000

# Webhook himoya kodi (o'zgartirib qo'ying)
WEBHOOK_SECRET=CHANGE_ME_LONG_RANDOM_STRING

# Web admin panel 1-kod (birinchi qadam)
ADMIN_CODE=MURTHEHELPa

# Web admin panel 2-parol (ikkinchi qadam)
ADMIN_CODE2=MURTHEHELPaalpa
